.navbar{
    background-color: black;
    color: white;
    padding: 10px 0; /* Adjust padding as needed */
    align-items: center;  
    display: flex;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
    justify-content: space-between;
}
nav ul li {
    display: inline-block;
    margin-right: 20px; /* Adjust margin between menu items */
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px; /* Adjust padding as needed */
}
nav ul li a:hover {
 background-color: #555; /* Change background color on hover */
}  
.logo{ 
    display: flex; 
    align-items: center; 
    padding-left: 5px;
} 
.logo img{
    margin-right: 10px;  
}  
.text { 
    display:flex; 
    align-items: center; 
    
}  
#sub-text{
    margin-right: 10px;
}
.text span { 
    display: block;
} 
#follow-text a{
    color: green;
} 
.anchors{
    display: flex;   
}
.anchors a{ 
    justify-content: flex-end;
    color: white;  
    width: 70px; 
    height: 30px; 
    text-decoration: none; 
    margin-left: 10px; 
    padding-top: 0.1px; 
    padding-left: 8px;  
    padding-right: 1px;
    background-color: grey; 
    align-items: center; 
    border-radius: 0.5vh; 
    padding-bottom: 0.1px;
} 
#sign-up-button {
    background-color:#42b883;
    color: black; 
    padding-left: 8px;
    padding-right: 1px; 
    padding-top: 0.1px;  
    padding-bottom:0.1px; 
    align-items: center;
} 
.instalogo img{
    max-width:120px; 
    padding-left: 1vh; 
    margin-left: 2vh; 
    margin-top: 2vh; 
    padding-bottom: 2px;
} 
.second-nav{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 4px; 
    height: 7vh; 
    border:solid #dedede; 
} 

.second-anchor a{
    color: black; 
    text-decoration: none;  
    padding: 20px;
    width: 1500px;
} 


footer {
    padding: 10px;
    background-color:grey;
    color: white;

}
.middle-section{
    display: flex;   

} 
.left-section {  
    background-color:white;
    height: 700px; 
    width: 2000px; 

} 
.right-section{ 
    padding: 10px; 
    background-color: black;
    height: 700px;  
    width: 1000px; 
    text-size-adjust: 30px;
} 

#follow-button{
    background-color: #42b883; 
    text-decoration: none; 
    color: black; 
    padding-left: 1vh; 
    padding-right: 1vh; 
    border-radius: 0.2vh; 
    margin-left: 10px;
} 
.search-container{
    display: flex; 
    align-items:center;
}  
.paragraph{
    text-align: justify;
}
.icons img {
    margin-right: 40px; 
} 
p{
    font-size: 16px; 
    padding-left: 100px;
} 
.main-picture { 
    padding-left: 100px;
}  
.icons{
    padding-left: 100px;
}
.search-input{
    margin: 0; 
    margin-top: 2px; 

} 
.comment-input {
    color: #808080; /* Faint color */ 
    padding-left: 100px; 
    margin-top: 10px;
}  
#foot-bar a{
    color: white; 
    background-color: #4d4d4f;
    margin-left: 5px;  
    margin-top: 5px; 
    height: 4.5vh; 
    text-decoration: none; 
    border-radius: 0.5vh;
    padding: 5px;
} 
.left-part {
    float: left; 
    width: 50%;
  }
.right-part {
    float: left; 
    width: 50%;
  }
  
.another-picture img {
    display: block; 
    margin-bottom: 10px; 
} 
.time-ago{
    margin-top: 40px; 
    color: #808080; 
} 
.above-section{ 
    border: grey;  
    background-color: #333533;
    width: 480px; 
    height: 235px; 
}
.middle-section-right{
    border: grey;  
    background-color: #333533;
    width: 480px; 
    height: 235px; 
}
.below-section {
    background-color: #333533;
    border: grey;
    width: 480px; 
    height: 235px; 
} 
.header1{
    background-color: black; 
    height: 40px; 
    width:480px; 
    
} 
.header2{
    background-color: black; 
    height: 40px; 
    width: 480px;
} 
.header3{
    background-color: black; 
    height: 40px; 
    width: 480px;
}

 
  
